* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lobster", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: url(wallcoffeee.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 25px 7%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.logo i {
  color: #6f4e37;
}

nav a {
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: black;
  margin-left: 1.5rem;
  padding: 0.8rem;
  border-radius: 8px;
  transition: 0.4s ease;
}

nav a:hover {
  background-color: black;
  color: #fff;
}

.btn {
  padding: 10px 1.5rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-decoration: none;
  background-color: black;
  color: #fff;
  border-radius: 1px;
  letter-spacing: 0.1rem;
  transition: 0.4s ease;
}

.btn:hover {
  transform: scale(1.1);
}

#chek {
  display: none;
}

.fa-bars {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 6%;
}

.content {
  width: 400px;
}

.content h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 3.6rem;
}

.content p {
  padding: 20px 0;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.content .btn {
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 4%;
  }
}

@media (max-width: 998px) {
  header {
    padding: 20px 2%;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 798px) {
  nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 0px;
    height: 0px;
    overflow: hidden;
    background-color: #eee;
  }

  nav a {
    display: block;
    text-align: center;
    margin-top: 20px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .fa-bars {
    display: block;
  }

  #chek:checked ~ nav {
    height: 100vh;
  }
}
